// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
ul {
  height: 100vh;
  .category {
    width: 90%;
    padding: 5px 0;
    border-radius: 3px;

    a {
      background-color: #fff;
    }
  }
}
