// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.categories {
  position: relative;
}

.scan {
  bottom: 0;
  width: 100%;
  background-color: rgb(32, 165, 32);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: white;
    text-align: center;
    padding: 15px 20px;
    width: 100%;
    text-decoration: none;
    border: 1px solid white;
  }
}

#error_explanation {
  color: red;
  font-size: 14px;

  h2 {
    display: none;
  }

  ul {
    list-style: outside;
    padding-left: 50px;
  }
}

.categories-ul {
  height: 93vh;

  .category {
    width: 90%;
    padding: 5px 0;
    height: 20%;
    border-radius: 3px;

    a {
      width: 100%;
      background-color: #fff;
      height: 100%;
      color: inherit;

      .amount {
        justify-self: end;
        color: blue;
      }

      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.smal-txt {
  font-size: 12px;
}
