// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-size: 10px;
  background-color: #d1cbcb;
}

section {
  background-color: #d1cbcb;
}

.home {
  width: 100%;
  height: 100vh;
  position: relative;

  a {
    text-decoration: none;
    color: #434b54;
    font-size: 14px;
  }
  h1 {
    position: absolute;
    top: 45%;
  }
}

.btn-sign-in {
  justify-self: end;
  width: 90%;
  a {
    color: #d1cbcb;
  }
}
