// Place all the styles related to the transacs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.transac {
  width: 97%;
}
