<ul>
    <% @categories.each do |category| %>
        <li>
            <%= link_to user_category_path(category.user, category), class: 'list-group-item' do %>
                <p><%= category.icon %></p>
                <p><%= category.name %></p>
            <% end %>
        </li>
    <% end %>
</ul>
